html {
    scroll-behavior: smooth;
}

.font-bold {
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.font-light {
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.button {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 1.3rem;
    color: #494949;
    background-color: #cfcfcf;
    border-width: 2px;
    border-color: #494949;
    border-style: solid;
    transition: ease-in-out;
    transition-duration: 300ms;
    text-decoration: none;
}

.button:hover{
    color: #cfcfcf;
    background-color: #494949;
}

.project-cards{
    background: none;
    filter:drop-shadow(5px 5px 10px rgb(0, 0, 0));
    border: none;
    /* margin-top:auto;
    margin-left:auto;
    margin-right: 5rem;
    margin-bottom: 4rem; */
    width: 50%;
    aspect-ratio: 16/9; 
    /* position: relative;  */
    /* filter: grayscale(100%); */
    transition: ease-in-out;
    transition-duration: 300ms;
}

/* .project-cards:hover{
    filter: grayscale(0%);
} */

.project-card{
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover; 
    position: absolute; 
    top: 0; 
    left: 0; 
    transform-origin: right center;
    transition: ease-in-out;
}

.project-cards .project-card:nth-child(1) {
    z-index: 5;
}

/* 2ยบ elemento */
.project-cards .project-card:nth-child(2) {
    z-index: 4;
    transition-duration: 210ms;
}

/* 3ยบ elemento */
.project-cards .project-card:nth-child(3) {
    z-index: 3;
    transition-duration: 240ms;
}

.project-cards .project-card:nth-child(4) {
    z-index: 2;
    transition-duration: 270ms;
}

.project-cards .project-card:nth-child(5) {
    z-index: 1;
    transition-duration: 300ms;
}

.project-cards:hover .project-card:nth-child(2){
    transform: rotate(2deg);
}

.project-cards:hover .project-card:nth-child(3){
    transform: rotate(4deg);
}

.project-cards:hover .project-card:nth-child(4){
    transform: rotate(6deg);
}

.project-cards:hover .project-card:nth-child(5){
    transform: rotate(8deg);
}




.scroll-hidden::-webkit-scrollbar {
  display: none;
}